Deleted Emails remain in the inbox on server for mailfence account

### Checklist

- [X] I have used the search function to see if someone else has already submitted the same bug report.
- [X] I will describe the problem with as much detail as possible.

### App version

6.802

### Where did you get the app from?

Other

### Android version

Android 12, /e/ OS-Version 1.21.1-s-20240325389527-stable-FP4

### Device model

Fairphone 4 

### Steps to reproduce

1. Setup a Mailfence account in K9 with Imap.
2. Delete a Mail from the Inbox of a Mailfence Email account in the K9 App.
3. Check the Mailfence Inbox via Webclient, the Mail is still in the Inbox and was not moved to the trash folder.

### Expected behavior

The deleted Mail gets moved to the trash folder on the Server

### Actual behavior

The deleted Mail is only deleted locally and stays in the Inbox on the Mailfence Server.

Things I've already tried that did not fix the Issue:
- Clear K9 cache and data.
- Restart/reinstall K9.
- re-setup the mailfence account in K9 (+ set Imap path prefix manually).
- Restart Phone.
- Set account folders manually

Things that I've tested that do work:
- Delete a mail via Thunderbird Desktop client on the same Mailfence account via Imap.
- Delete a mail from the same Mailfence account and Phone via a different App (FairEmail).
- Create and delete a draft via K9.
- Move a mail from the trash to the Inbox via K9.
- Delete a mail from the inbox of my gmx Email account via K9.

Other Notes:
- I've tried installing the K9 App via the /e/-Os App Lounge (I think it ends up pulling the app from F-Droid though) and the Aurora Store. Both times the same behavior.

### Logs


[k9mail-logs.txt](https://github.com/thunderbird/thunderbird-android/files/15050639/k9mail-logs.txt)

- The log show me trying to delete 2 Emails from the Inbox with "Enable debug logging" turn on and "Log sensitive information" off.
- I've replaced my Email account name in the logs.
- From reading the logs the issue seems to be, that the inbox folder is in read only mode when the command to move the mail to the trash is issued. But why it ends up in this mode is beyond my understanding. If there is a way to influence the mode of a folder while using the app, i was unable to find it.

This seems to be a problem on the server's side. K-9 Mail is opening the folder in read-write mode.

```
04-20 18:33:18.896  6981  7003 V RealImapConnection: conn218628155>>> 32 SELECT "INBOX"
04-20 18:33:19.065  6981  7003 V ImapResponseParser: conn218628155<<<#null# [5, EXISTS]
04-20 18:33:19.066  6981  7003 V ImapResponseParser: conn218628155<<<#null# [2, RECENT]
04-20 18:33:19.067  6981  7003 V ImapResponseParser: conn218628155<<<#null# [OK, [UIDVALIDITY, 100677376]]
04-20 18:33:19.068  6981  7003 V ImapResponseParser: conn218628155<<<#null# [OK, [UIDNEXT, 720]]
04-20 18:33:19.069  6981  7003 V ImapResponseParser: conn218628155<<<#null# [FLAGS, [\Deleted, \Seen, \Answered, \Recent, \Draft]]
04-20 18:33:19.070  6981  7003 V ImapResponseParser: conn218628155<<<#null# [OK, [PERMANENTFLAGS, [\Deleted, \Seen, \Answered, \Flagged, \Draft, \*]]]
04-20 18:33:19.072  6981  7003 V ImapResponseParser: conn218628155<<<#32# [OK, [READ-WRITE], SELECT Completed]
…
04-20 18:33:20.480  6981  7003 V RealImapConnection: conn218628155>>> 33 UID MOVE 719 "Trash"
04-20 18:33:20.641  6981  7003 V ImapResponseParser: conn218628155<<<#33# [NO, Could not MOVE messages to mailbox: MOVE: Mailbox is read only: INBOX]
```

Please contact your provider and report this problem.

However, K-9 Mail doesn't handle this error well. We need to undo the local move (#7773) and report the error to the user (#1058).

It looks like the folder was opened in read-only mode before it was opened in read-write mode on the same connection. This is legitimate and should be correctly handled by the server.

See RFC 3501, [section 6.3.1](https://datatracker.ietf.org/doc/html/rfc3501#section-6.3.1).  SELECT Command

> Only one mailbox can be selected at a time in a connection;
> simultaneous access to multiple mailboxes requires multiple
> connections.  The SELECT command automatically deselects any
> currently selected mailbox before attempting the new selection.

