Was going to switch when I saw this issue listed as a warning on the FOSS website I was viewing:

<img width="537" height="330" alt="Image" src="https://github.com/user-attachments/assets/1729b41a-d893-42a8-acb5-26ce2eaa0b95" />

I see that this has been an open issue for 7 years. If most people are used to a certain "Reply" behavior, and the default is opposite of that and bad enough to warrant warnings, why is it being left as is?

See also
https://github.com/thunderbird/thunderbird-android/issues/7305

To summarize ...

For several years a simple "Reply" to a message sent via a mailing list
has gone solely to the address in a "List-Post" header, if that is present,
rather than to the original author in the "From" or "Reply-to" headers.
This is in violation of the relevant RFCs. The only headers that are to
be used for the destination of any "Reply" or "Reply-all" are "From"
(or "Reply-to" if present), "To", "CC", and (rarely) "Bcc". 

The problem is exacerbated by the "To" field in the reply composition
containing only "+1", so the person replying has no idea that this
unexpected and unwanted behavior is present. This is a potentially
career-ending behavior when a reply thought to be a private response
to the author is instead distributed to an entire department or company.

Could we PLEASE conform to the relevant RFC 5322, and the behavior of
every other mail client for the last several decades? 

1) A "Reply" is to be addressed "To" the "From" address(es) in the
original message unless a "Reply-To" header is present, in which case
the reply is to be addressed there. Full stop. 

2) A "Reply-all" should go "To" the "From" or "Reply-To" as well as to
the "To", "CC", and, if present "Bcc" addresses placed in the same
headers going back. 

3) "Sender", "List-Post", or any other headers have NO part in standard
"Reply" or "Reply-all" actions.

From RFC 5322 Section 3.6.2 (updated but unchanged by RFC 6854)
https://datatracker.ietf.org/doc/html/rfc5322#section-3.6.2 : 

"The "From:" field specifies the author(s) of the message, that is, the
mailbox(es) of the person(s) or system(s) responsible for the writing of
the message. The "Sender:" field specifies the mailbox of the agent
responsible for the actual transmission of the message. For example, if
a secretary were to send a message for another person, the mailbox of
the secretary would appear in the "Sender:" field and the mailbox of the
actual author would appear in the "From:" field." "The originator fields
also provide the information required when replying to a message. When
the "Reply-To:" field is present, it indicates the address(es) to which
the author of the message suggests that replies be sent. In the absence
of the "Reply-To:" field, replies SHOULD by default be sent to the
mailbox(es) specified in the "From:" field unless otherwise specified by
the person composing the reply." 

And from Section 3.6.3: 

"When a message is a reply to another message, the mailboxes of the
authors of the original message (the mailboxes in the "From:" field) or
mailboxes specified in the "Reply-To:" field (if it exists) MAY appear
in the "To:" field of the reply since these would normally be the
primary recipients of the reply. If a reply is sent to a message that
has destination fields, it is often desirable to send a copy of the
reply to all of the recipients of the message, in addition to the
author. When such a reply is formed, addresses in the "To:" and "Cc:"
fields of the original message MAY appear in the "Cc:" field of the
reply, since these are normally secondary recipients of the reply. If a
"Bcc:" field is present in the original message, addresses in that field
MAY appear in the "Bcc:" field of the reply, but they SHOULD NOT appear
in the "To:" or "Cc:" fields." 


While unpopular, it seems that this was a design decision. As such, the hurdle to reverse the behaviour will be quite high, especially after 7 years.

Thanks for the detailed reply @a-name-not-taken. Yes that is unfortunate behavior and I agree could potentially be career damaging.

With what you and @sfadschm say, it seems this is still an issue and is "as designed".

I'll go ahead and pass for now. Thanks to you both for the quick replies!

Not to pile on, but to highlight the absurdity of the current design ...

- If the incoming message contains a "List-Post"  header, the only way to reply to the original "From" address is to "Reply-all" and then edit the resulting destination fields to delete all but the original sender's address.

- If the original message was sent to a list address, that would lready be in the "To" or "Cc" headers and would be included in a "Reply all" response anyway. If it had been "Bcc'd" to the list, It should not be replied to in the first place.


I just fumbled and sent a private email to an entire company mailinglist because of this strange design. This really needs to be changed to conform with standard behavior.